

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
footer {
    text-align: center;
    padding: 10rem;
    color: black;
    
}
body {
    background-color: rgb(232, 226, 180);
    font-style: inherit;
    
   
    
color: black;
}

li{
    display:inline;
    margin: 20px;
    font-size: 20px;
    
}
.Topline{   
    display:flex;
    justify-content:space-between;
    
}

.Welcome{
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: solid;
    display: block;

}

.Aboutme{
    padding-top: 35px;
}

.projects{
    padding-top: 50px;
}


.Skills{
    padding-top: 50px;
}


.Resume{
    padding-top: 50px;
}